.Testimonials {
    margin-top: 10vh;
    background: rgb(73, 94, 87);
}

.t-head {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 6vh;
    color: rgb(237, 239, 238);
    padding: 5vh 0vw;
}

.t-body {
    display: flex;
}