.btn {
    padding: 2vh 3vw;
    background: rgb(244, 206, 20);
    color: rgb(0, 0, 0);
    border-radius: 15px;
    font-size: 2.5vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid rgb(51, 51, 51);
    font-weight: 700;
    cursor: pointer;
}

.btn:hover {
    background: rgb(73, 94, 87);
}