.Footer {
    padding: 20vh 0vw;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 10vh;
}

.f-logo {
    width: 20vw;
    height: 15vh;
}

.footer-div {
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.foot-head {
    font-size: 3.5vh;
    font-weight: 600;
    padding-bottom: 4vh;
}

.foot-sub {
    font-size: 2.5vh;
    letter-spacing: 0.1vw;
    padding-bottom: 1vh;
    cursor: pointer;
}

.foot-sub:hover {
    color: rgb(244, 206, 20, 0.9);
}